{{template "head.html" .}} {{template "navbar.html" .}}
<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <a href="#" class="thumbnail">
                    <img src="static/img/michael.jpg" alt="micheal">
                </a>
            </div>
            <div class="col-md-6">
                <p>Michael /ˈmaɪkəl/ is a masculine given name that comes from Hebrew: מִיכָאֵל / מיכאל‎‎ (Mīkhāʼēl, pronounced
                    [miχaˈʔel]), derived from the question מי כאל mī kāʼēl, meaning "Who is like God?".[1] Patronymic surnames
                    that come from Michael include Michaels, Carmichael, MacMichael, McMichael, Micallef, Michaelson, Mikkelsen,
                    DiMichele, Mikhaylov, Mykhaylenko, Mikeladze, Michels, and Mitchell.</p>
                <p>Michael (and its variants) is one of the most common given names for men in the world. In the United States,
                    Michael was the most popular name of the 20th century, ranking No. 1 from 1954 to 1998 (with the exception
                    of 1960, when it was second to David). It was among the top three most popular names for each year since
                    1953, only falling out of the top five in 2011 for the first time since 1949.[2]</p>
                <p>In 2014, Michael was the 20th most popular name in Northern Ireland,[3] 27th in Canada[4] and 42nd in Australia.[5]
                    In England and Wales, Michael ranked 53rd in 2011 and 2012.[6] Mícheál ranked as the eighth most popular
                    name for boys in Ireland in 2013.[7]</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <p>
                    The Book of Enoch, which presents itself as written by Enoch, mentions Uriel in many of the component books. In Chapter IX
                    which is part of "The Book of the Watchers" (2nd century BCE) only four Angels are mentioned by name,
                    these are Michael, Uriel, Raphael, and Gabriel (though some versions have a fifth angel: Suryal or Suriel).
                    However the later Chapter XX lists the name and function of seven angels, these are "Uriel, one of the
                    holy angels, who is over the world and over Tartarus", Raphael, Raguel, Michael, Saraqâêl, Gabriel, and
                    Remiel.</p>
                <p>
                    The Book of the Angels as a whole tells us that Uriel, Raphael, and Gabriel were present before God to testify on behalf
                    of Humankind. They wish to ask for divine intervention during the reign of the Fallen Gregori (Fallen
                    Watchers). These fallen take human wives and produced half-angel, half-human offspring called the Nephilim.
                    Uriel is responsible for warning Noah about the upcoming Great Flood.</p>
                <p>Then said the Most High, the Holy and Great One spoke, and sent Uriel to the son of Lamech, and said to him:
                    "
                    <Go to Noah> and tell him in my name 'Hide thyself!' and reveal to him the end that is approaching: that the whole
                        earth will be destroyed, and a deluge is about to come upon the whole earth, and will destroy all
                        that is on it."
                </p>
            </div>
            <div class="col-md-6">
                <a href="#" class="thumbnail">
                    <img src="static/img/uriel.jpg" alt="micheal">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <a href="#" class="thumbnail">
                    <img src="static/img/gabriel.jpg" alt="micheal">
                </a>
            </div>
            <div class="col-md-6">
                <p>Gabriel (Hebrew: גַּבְרִיאֵל Gavri'el "God is my strength", Biblical Greek: Γαβριήλ, Gabriel; Amharic, Geez
                    and Tigrinya: ገብርኤል, Arabic: جبريل or جبرائيل Jibril or Jibra'il), in the Abrahamic religions, is an
                    angel who typically serves as God's messenger.</p>
                <p>In the Jewish scriptures, Gabriel appears to the prophet Daniel, to explain his visions (Daniel 8:15–26,
                    9:21–27). Gabriel the archangel is also a character in other ancient Jewish writings such as the Book
                    of Enoch.</p>
                <p>In the Christian New Testament in the Gospel of Luke, the angel Gabriel appears to Zechariah and the Virgin
                    Mary, foretelling the births of John the Baptist and Jesus, respectively (Luke 1:11–38). In many Christian
                    traditions including Anglican, Eastern Orthodox and Roman Catholic, Gabriel is also referred to as a
                    saint.[1][6]</p>
            </div>
        </div>
    </div>
</div>
{{template "foot.html" .}}