<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mnavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a href="#" class="navbar-brand">Crystal.Dino</a>
        </div>
        <div class="collapse navbar-collapse" id="mnavbar">
            <ul class="nav navbar-nav">
                <li {{if .isHome}}class="active" {{end}}><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li {{if .isNews}}class="active" {{end}}><a href="/news"><span class="glyphicon glyphicon-globe"></span> News</a></li>
                <li {{if .isSummary}}class="active" {{end}}><a href="/summary"><span class="glyphicon glyphicon-calendar"></span> Summary</a></li>
                <li {{if .isExchange}}class="active" {{end}}><a href="/exchange"><span class="glyphicon glyphicon-transfer"></span> Exchange</a></li>
                <li {{if .isAccount}}class="active" {{end}}><a href="/account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                <li {{if .isAssets}}class="active" {{end}}><a href="/assets"><span class="glyphicon glyphicon-briefcase"></span> Assets</a></li>
                <li><a href="/code"><span class="glyphicon glyphicon-pencil"></span> Code</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li {{if .isRegister}}class="active" {{end}}><a href="/register">Register</a></li>
                <li {{if .isLogin}}class="active" {{end}}><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>