.register-panel{
    margin-top: 120px;
}

.register-form{
    padding: 30px;
    margin-top: 4em;
    box-shadow: -4px 7px 46px 2px rgba(0,0,0,0.1);
    /* background: $brand-white; */
}


body{
    /* font-size: 14px; */
    background: #fff url(../img/background.png) repeat;
}